@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  border-radius: 10px !important;
}
.main {
  padding: 20px;
  max-width: 250px;
  width: 250px;
  border: none !important;
  border-radius: 20px !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 70%;
}

.header .assets {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.main-container {
  margin-bottom: 20px;
  padding-right: 30px;
}
.main-container h2 {
  color: #413c6d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  line-height: normal;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.tabs .computer {
  color: #928fab;
}

/* .tabs .computer:hover,
.tabs .current:hover {
  border: 1px solid #120b48;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
} */

.tabs .current {
  color: #120b48;
}

.tabs .current p {
  font-weight: 600;
}

.tabs .computer i {
  font-weight: 300;
}

.camera,
.audio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #120b48;
  padding: 0px 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.video,
.mic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #120b48;
}

.video p,
.mic p {
  font-weight: 600;
}

.btn-record {
  width: 100%;
  background-color: #120b48;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 10px;
  margin-top: 20px;
}

.yes {
  min-width: 600px;
  min-height: 439px;
  padding: 24px 24px 32px 24px;
}
.no {
  min-width: 250px;
  padding: 24px 24px 32px 24px;
}
